@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}